body{
    text-align: center;
    margin:0 0;
    font-family: 'Merriweather', serif;
}

h1{
    width: 50%;
    margin:0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #71cfcf;
    
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}

a{
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    color:#11999E;
    margin:10px 30px;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6
}

p{
    line-height: 2;
}

hr{
    border:dotted #AEE2FF 6px;
    border-bottom:none;
    width:4%;
    margin:100px auto;
}

.top-container{
    background-color: #ECF9FF;
    padding-top:200px;
    position: relative;
    margin:0;
}

.topCloud{
    position:absolute;
    right: 300px;
    top: 100px;
}

.bottamCloud{
    position:absolute;
    left:300px;
    bottom:300px;
}

.profile{
    width: 50%;
    margin:100px auto 100px auto; 
    line-height: 2;
}

.skill{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.profileimage{
    width:25%;
    margin:0 auto 0 auto;
}

.skillsimage1{
    width:25%;
    float: left;
    margin-right: 30px;
}

.skillsimage2{
    width:25%;
    float: right;
    margin-left: 30px;
}

.contactMessage{
    width: 40%;
    margin:40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 25px 5px 25px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottom-container{
    margin-top: 100px;
    background-color:#66BFBF;
    padding:50px 0 20px;
  }

  .copyright{
    color:#EAF6F6;
    font-size:0.75rem;
    padding:20px 0;
  }

